
   <!-- Footer-->

   <div class="footer">
    <!-- Footer-->


    <footer>

      <div class="row">

        <div class="col-md espaciado-flex centrado">

          <h4>Colaboradores</h4>
          <ul>
            <li>Marco Añarumba</a></li>
            <li>Javier Guaman</a></li>
          </ul>

        </div>


        <div class="col-md espaciado-flex">
          <h4>Siguenos</h4>
          <div>
            <!--Iconos redes sociales-->
            <div><a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div><a href="" target="_blank"><i
                  class="fab fa-instagram-square"></i>
                  <a href="" target="_blank"><i
                    class="fab fa-instagram-square"></i></a>
            </div>
            <div><a href=""><i class="fab fa-whatsapp-square" target="_blank"></i></a>
              <a href=""><i class="fab fa-whatsapp-square" target="_blank"></i></a></div>

          </div>
        </div>

        <div class="col-md mapa espaciado-flex">
          <!--mapa ubicación-->
          <div class="col-md mapa espaciado-flex">
            <!--mapa ubicación-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15958.13687785385!2d-78.44751132619493!3d-0.6837540889070722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d44e5dbbd52ce7%3A0x61297ba77301c1e8!2sVolc%C3%A1n%20Cotopaxi!5e0!3m2!1ses-419!2sar!4v1722470807557!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

        </div>

      </div>

    </footer>

    <!--/footer-->
  </div>

<!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   

</body>
</html>