<%- include('partials/header'); -%>

<!-- Carrousel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/imagenes/dondeir/dondeir2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/imagenes/dondeir/cotopaxi4.jpg" class="d-block w-100" alt="...">
      </div>
      <!-- <div class="carousel-item">
        <img src="/imagenes/dondeir/dmontañismoG.jpg" class="d-block w-100" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">siguiente</span>
    </button>
  </div>
    <!-- fin carrousel -->
    

<!--CORDOBA TEXTO-->
<h1 class="titulo-provincia">QUILOTOA</h1>
<p>Situada a 3.900 metros sobre el nivel del mar, la laguna de Quilotoa está ubicada a 66 km. al sur de Latacunga, en la parroquia de Zumbahua del cantón Pujilí y forma parte de la Reserva Ecológica Los Ilinizas. Este semana te invitamos a conocer algunos detalles de este mágico lugar, porque yo #MeQuedoEnEcuador. El Quilotoa es una de las 15 lagunas de origen volcánico más hermosas del mundo, debido a su color verde esmeralda, de tonos variables por sus minerales disueltos en sus aguas. Su temperatura bordea los 12 grados centígrados, de enero a mayo las lluvias son frecuentes.</p>
<p>Este impresionante destino está relacionado intrínsecamente con la vida de sus habitantes, cada sitio muestra la riqueza natural acompañado de servicios y actividades turísticas de la zona. Sus lugares destacados de visita son: el mirador del Quilotoa, el mirador Shalalá y el Centro turístico Comunitario Lagoverde. </p>
<p>Existen iniciativas turísticas forjadas por pobladores de la zona, quienes brindan distintos servicios y actividades turísticas como alojamiento, alimentación, centro de información turística, guías nativos, alquiler de caballos, galería de arte y otras actividades recreativas.

<!--QUILOTOA CARDS-->
<h1 class="titulo-lugar-popular">FLORA Y FAUNA</h1>
<h5 class="descubri-destinos">Naturaleza vibrante: flora y fauna espectaculares.</h5>

<div class="contenedor">
    <a href="https://www.sisepuedeecuador.com/laguna-quilotoa-ecuador/"></a>
    <div class="figura">
        <img src="/imagenes/dondeir/floraQ.jpg">
        <div class="texto-card">
            <h3>Flora</h3>
        </div>
    </div>
</a>

    <a href="https://www.sisepuedeecuador.com/laguna-quilotoa-ecuador/">
    <div class="figura">
        <img src="/imagenes/dondeir/faunaQ.jpg">
        <div class="texto-card">
            <h3>Fauna</h3>
        </div>
    </div>
    </a>
</div>
<!--QUILOTOA CARDS-->




<!--El boliche-->
<div id="carouselExampleControlsJujuy" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/imagenes/dondeir/boliche/boliche.jpg" class="d-block w-100" alt="Jujuy">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/dondeir/boliche/boliche2.jpg" class="d-block w-100" alt="Jujuy 2">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/dondeir/boliche/flora.jpg" class="d-block w-100" alt="Jujuy 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsJujuy"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsJujuy"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--el boliche-->

<!--BOLICHE TEXTO-->
<h1 class="titulo-provincia">Área Nacional de Recreación El Boliche</h1>
<p>Se encuentra junto al Parque Nacional Cotopaxi. El Boliche es conocido por su plantación de pinos y cipreses, que cubre 200 hectáreas y ha reemplazado casi por completo al páramo. Los primeros árboles fueron sembrados en 1928 en lo que era la hacienda Romerillos, con la idea de recuperar los suelos erosionados y “reforestar” el páramo. Eran otros tiempos: hoy se sabe que estas plantaciones afectan los suelos y la biodiversidad de este ecosistema, y que el páramo no necesita llenarse de árboles.
Junto a esta área se encuentra la Estación “El Boliche” de la Empresa de Ferrocarriles del Ecuador y, gracias a ello, cada fin de semana llegan cientos de visitantes a recorrer los atractivos que ofrece esta área protegida</p>
<p>¿Como Llegar? Desde Quito. Se ingresa al área por la Panamericana Sur hasta llegar a Machachi (39 km).
    Por carretera. Desde Machachi se recorren 15 kilómetros hasta llegar al mercado de la comunidad de Romerillos, conocido como “mercado de la NASA”, frente al cual se encuentra la vía de ingreso al Boliche. Después de 2,5 kilómetros de camino asfaltado y 1 kilómetro más de camino lastrado, se arriba al puesto de control de ingreso.
    Por ferrocarril. El ferrocarril sale desde la Estación de Chimbacalle (Quito) y termina en la estación El Boliche. Este tren sale a las 8h15 de jueves a domingo y días feriados.</p>

<!--JUJUY CARDS-->
<h1 class="titulo-lugar-popular">Actividades mas populares</h1>
<h5 class="descubri-destinos">explora y Diviertete con tus amigos</h5>

<div class="contenedor">
    <a href="https://www.goraymi.com/es-ec/cotopaxi/latacunga/areas-nacionales-recreacion/boliche-area-nacional-recreacion-aa594f657">
    <div class="figura">
        <img src="/imagenes/dondeir/boliche/camping.jpg">
        <div class="texto-card">
            <h3>Camping</h3>
        </div>
    </div>
</a>

    <a href="http://areasprotegidas.ambiente.gob.ec/es/areas-protegidas/%C3%A1rea-nacional-de-recreaci%C3%B3n-el-boliche">
    <div class="figura">
        <img src="/imagenes/dondeir/boliche/actividadB.jpg">
        <div class="texto-card">
            <h3>Ciclismo</h3>
        </div>
    </div>
</a>

    <a href="https://ecuadors.live/atractivos-naturales-de-mejia/area-nacional-de-recreacion-el-boliche/">
    <div class="figura">
        <img src="/imagenes/dondeir/boliche/caminatas.jpg">
        <div class="texto-card">
            <h3>Caminata</h3>
        </div>
    </div>
</a>
</div>
<!--BOLICHE CARDS-->


<!--Volcan Cotopaxi-->
<div id="carouselExampleControlsMendoza" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/imagenes/dondeir/volcan/vcotopaxi.jpg" class="d-block w-100" alt="Mendoza">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/dondeir/volcan/vcotopaxi2.jpg" class="d-block w-100" alt="Mendoza 2">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/dondeir/volcan/vcotopaxi3.jpg" class="d-block w-100" alt="Mendoza 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsMendoza"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsMendoza"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--volcan cotopaxi SLIDER-->

<!--Volcan cotopaxi-->
<h1 class="titulo-provincia">Volcan Cotopaxi</h1>

<p> El Cotopaxi se encuentra sobre la Cordillera Oriental (Real), a una distancia de 35 km al Noreste de Latacunga, 45 km al Sureste de Quito y 70 km al Noroeste de Tena. Su edificio forma un cono simétrico con pendientes de hasta 35° y un diámetro basal de ~20 km, mientras que el diámetro del cráter varía entre 800 m en sentido Norte-Sur y 650 m en sentido Este-Oeste. El Cotopaxi está rodeado por páramos que bordean los 3000 msnm y por otros volcanes como Sincholahua (4873 msnm), Quilizndaña (4876 msnm) y Rumiñahui (4722 msnm).</p>
<p>Por cierto, la misma Cordillera que te invita a hacer la Ruta Sanmartiniana en la que fue la histórica expedición
    libertadora del Gral. San Martín, y cabalgar el cruce de los Andes en Mendoza y en San Juan.</p>
<p>El Cotopaxi es considerado uno de los volcanes más peligrosos del mundo debido a la frecuencia de sus erupciones, su estilo eruptivo, su relieve, su cobertura glaciar y por la cantidad de poblaciones potencialmente expuestas a sus amenazas. Desde el inicio de la conquista española, el Cotopaxi ha presentado cinco grandes periodos eruptivos: 1532-1534, 1742-1744, 1766-1768, 1853-1854 y 1877-1880. Dentro de cierto rango, todos los episodios han dado lugar a fenómenos volcánicos muy peligrosos, y no hay duda de que episodios similares volverán a repetirse en el plazo de las décadas. Los cuatro últimos periodos han dado lugar a muy importantes pérdidas socio-económicas en el Ecuador. La peligrosidad del Cotopaxi radica en que sus erupciones pueden dar lugar a la formación de enormes lahares (flujos de lodo y escombros) que transitarían por drenajes vecinos a zonas densamente pobladas como el Valle Interandino entre Mulaló y Latacunga, y una parte del valle de los Chillos. Se ha estimado que actualmente más de 300.000 personas viven en zonas amenazadas por lahares en caso de que se repitan erupciones similares a las ocurridas en los siglos XVIII y XIX. Adicionalmente, la caída de ceniza producida durante una erupción del Cotopaxi podría afectar una parte muy significativa de la Sierra y la Costa del Ecuador.</p>

<!--COTOPAXI CARDS-->
<h1 class="titulo-lugar-popular">Actividades populares</h1>
<h5 class="descubri-destinos">Disfruta la vida</h5>

<div class="contenedor">
    <a href="https://www.igepn.edu.ec/cotopaxi">
    <div class="figura">
        <img src="/imagenes/dondeir/volcan/CabalgataC.jpg">
        <div class="texto-card">
            <h3>Cabalgata</h3>
        </div>
    </div>
</a>

    <a href="https://www.viajaecuador.com.ec/itinerary/dia-de-expedicion-al-volcan-cotopaxi/">
    <div class="figura">
        <img src="/imagenes/dondeir/volcan/senderismoC.jpg">
        <div class="texto-card">
            <h3>Montañismo</h3>
        </div>
    </div>
</a>


    <a href="https://ecuventure.com/es/mountains/cotopaxi/">
    <div class="figura">
        <img src="/imagenes/dondeir/volcan/montañismoC.jpg">
        <div class="texto-card">
            <h3>Senderismo</h3>
        </div>
    </div>
</a>
</div>


<%- include('partials/footer'); -%>