<%- include('partials/header'); -%>
 

<!-- Carrousel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/imagenes/home/Cotopaxi.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/imagenes/home/cotopaxi2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/imagenes/home/cotopaxi3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">siguiente</span>
  </button>
</div>
  <!-- fin carrousel -->
  

  <!-- tittle1-->

  <h2 class="title-1">Viaja por el Cotopaxi</h2>
  <p class="parrafo-1">
    Recorré los destinos del Cotopaxi
  </p>
  <!-- cards -->
  <div class="tarjetas">
    <div class="card" style="width: 18rem;">
      <img src="/imagenes/home/ciclismo.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/imagenes/home/montañismo.jpg "class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/imagenes/home/senderismo.jpg" class="card-img-top" alt="...">
    </div>

  </div>

  <!-- img -->
  <div class="img-1">
    <img src="/imagenes/home/1.png" alt="">
  </div>

  <div class="textoCotopaxi">
    <h1>Diviertete con tus amigos</h1>
    <p>
        Disfruta de una emocionante excursión al majestuoso Cotopaxi, uno de los volcanes activos más altos del mundo. Maravíllate con sus impresionantes paisajes mientras te aventuras por senderos naturales y respiras aire puro. Descubre la flora y fauna únicas de la región y captura recuerdos inolvidables en cada paso. ¡No te pierdas la oportunidad de explorar este tesoro natural y vivir una experiencia inolvidable</p>
   </div>

  <!-- <div class="img-1">
    <img src="/imagenes/home/2.png" alt="">
  </div> -->
 


<%- include('partials/footer'); -%>