<%- include('partials/header'); -%>

<!--Slideshow container-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/imagenes/quehacer/CampingActividad.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/quehacer/SenderismoActividad.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/quehacer/montañismoG.jpg" class="d-block w-100" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">anterior</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">siguiente</span>
    </button>
</div>

<!--Fin Slideshow Container-->

 <!--Principal-->
 <div class="titulo">

    <h2>Actividades</h2>
    <p>Organiza tu viaje de la mejor manera para aprovecharlo al máximo! En ésta sección tendrás a tu disposición una serie de actividades disponibles en los diferentes destinos turísticos. De esta manera prodrás elegir que categoría es de tu preferencia y sacar el máximo rendimiento a tus vacaciones.
    </p>

</div>

<div class="categoria titulo">
    <h2 style="   color: #7a1578;">Planificá qué hacer en tus vacaciones</h2>
</div>

<div class="cat-container-imagenes">
    <img src="imagenes/quehacer/actividad1.webp" width="500" height="400">
    <img src="/imagenes/quehacer/pesca.jpg" width="500" height="400">
</div>

<div class="gatronomicas">
    <h1>actividades gastronomicas</h1>
</div>

<div class="gastro-container-imagenes">
    <img src="/imagenes/quehacer/comida1.jpg" width="500" height="400">
    <img src="/imagenes/quehacer/comida2.webp" width="500" height="400">
</div>

<div class="gastro-container-img">
    <img src="/imagenes/quehacer/comida3.webp" width="500" height="400">
    <img src="/imagenes/quehacer/comida4.jpg" width="500" height="400">
</div>

<div class="act-naturaleza">
    <h1>actividades en la naturaleza</h1>
</div>

<div class="nat-container-imagenes">
    <img src="/imagenes/quehacer/actNat1.jpg" width="500" height="400">
    <img src="/imagenes/quehacer/actNat2.jpg" width="500" height="400">
</div>

<div class="nat-container-img">
    <img src="/imagenes/quehacer/actNat3.jpg" width="500" height="400">
    <img src="/imagenes/quehacer/actNat4.jpg" width="500" height="400">
</div>
<!-- Fin Principal-->

<!-- Footer-->

<%- include('partials/footer'); -%>